<ion-view view-title="列表" class="tab-list">
  <div class="bar bar-subheader">
      <a class="" ng-click="showPop(params.TYPE_PROJECT)"><span>{{project_type_name}}</span><i class="ion-ios-arrow-down"></i></a>
    <ul class="dropdown-menu pull-right" ng-hide="project_type">
      <li>
        <a href="javascript:;" ng-click="search(params.TYPE_PROJECT,params.PROJECT_TYPE_DONGCHAN)">动产</a>
      </li>
      <li>
        <a href="javascript:;" ng-click="search(params.TYPE_PROJECT,params.PROJECT_TYPE_BUDONGCHAN)">不动产</a>
      </li>
    </ul>
      <a class="" ng-click="showPop(params.TYPE_FROM)"><span>{{from_type_name}}</span><i class="ion-ios-arrow-down"></i></a>
    <ul class="dropdown-menu pull-right" ng-hide="from_type">
      <li>
        <a href="javascript:;" ng-click="search(params.TYPE_FROM,params.FROM_TYPE_FAYUAN)">人民法院</a>
      </li>
      <li>
        <a href="javascript:;" ng-click="search(params.TYPE_FROM,params.FROM_TYPE_PAIMAIGONGSI)">拍卖公司</a>
      </li>
      <li>
        <a href="javascript:;" ng-click="search(params.TYPE_FROM,params.FROM_TYPE_JIAOYISUO)">交易所</a>
      </li>
    </ul>
      <a class="" ng-click="showPop()"><span>全部</span><i class="ion-ios-arrow-down"></i></a>
  </div>
  <ion-content class="has-subheader">
    <div class="mark" ng-hide="mark"></div>
    <ion-refresher
      pulling-text="下拉刷新"
      on-refresh="loadNewerStories()">
    </ion-refresher>
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right" ng-repeat="item in list" type="item-text-wrap"
                href="#/tab/list/{{item.id}}">
        <h2>{{item.title}}</h2>
        <p>起拍价:<span ng-if="item.evaluation_price">{{item.evaluation_price}}</span><span ng-if="!item.evaluation_price">--</span>万元</p>
        <p>所在地:<span ng-if="item.area">{{item.area}}</span><span ng-if="!item.area">--</span></p>
        <p>开始时间:{{item.start_at}} 结束时间:{{item.deadline_at}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

    </ion-list>
    <ion-infinite-scroll ng-if="moredata" on-infinite="loadOlderStories()" distance="1%"></ion-infinite-scroll>
  </ion-content>
</ion-view>

